.profileMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  & > .link-back{
    align-self: self-start;
  }
  margin: 38px auto;
  width: 1088px;
  padding: 0 44px;
  background-color: $background;
}
@media (max-width: 1088px){
  .profileMain{
    width: 100%;
  }
}
@media (max-width: 482px){
  .profileMain{
    padding: 0 25px;
    margin-top: 17px;
    
  }
}