.tag{
  border-radius: 6px;
  width: fit-content;
  color: $white;
  letter-spacing: .3px;
  font-weight: 600;
  &_profile{
    padding: 6px 15px;
    font-size: 12px;
    line-height: 130%;
    font-family: "Open Sans", sans-serif;

  }
  &_allProfiles{
    font-size: 10px;
    line-height: 140%;
    padding: 4.5px 13px;
    font-family: "Noto sans", sans-serif;

  }
  &-SMM{
    background-color: $turquoise;
  }
  &-Marketing{
    background-color: $pink;
  }
  &-Web{
    background-color: $light-green;
  }
  &-Design{
    background-color: $purple;
  }
  &-Mobile{
    background-color: $pink;
  }
  &-ProjectManager, &-ProductManager, &-EventManager{
    background-color: $orange; 
  }
  &-C-level{
    background-color: $red;
  }
}
@media (max-width: 482px){
  .tag{
    border-radius: 3px;
    padding: 3px 7px;
    font-size: 5px;
    line-height: 143%;
  }
}