@import "./base/variables"; 
*{
  margin: 0;
  padding: 0;
  outline: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body{
  background-color:$background;
}
.avatar{
  width: 152px;
  height: 152px;
}


@import "./blocks/allProfiles/card";
@import "./blocks/allProfiles/allProfiles";
@import "./header";
@import "./base/buttons";
@import "./blocks/profile/profile";
@import "./blocks/profile/tags";
@import "./blocks/profile/card";
@import "./base/text";
@import "./blocks/profile/projects";
@import "./blocks/profile/skills"