@import "./base/variables"; 
*{
  margin: 0;
  padding: 0;
  outline: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Noto Sans";
}
body{
  background-color:$background;
}

@import "./blocks/header";
@import "./base/buttons";
@import "./blocks/main";
@import "./blocks/tags";
@import "./blocks/card";
@import "./base/text";
@import "./blocks/projects";
@import "./blocks/skills"