@import "./variables";
a{
  text-decoration: none;
}
.loader {
  position: absolute;
  top: 45%;
  left: 47%;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 31px;
  border: none;
  width: 100%;
  color:$white;
  cursor: pointer;
  padding: 8px 26px;
  border-radius: 8px;
  background-color: $black-main;
  &-back{
    width: 251px;
  }
  &-forward{
    width: 100%;
    flex-direction: row-reverse;
    .button_text{
      line-height: 150%;
    }
  }
  &_text{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .5px;
    line-height: 133%;
    text-align: center;
    align-self: center;
  }
}

@media (max-width: 482px){
  .button{
    gap: 13px;
    padding: 3.6px 11.69px;
    border-radius: 3.6px;
    &-back{
      width: 135px;
    }
    &-forward{
      width: 100%;
      flex-direction: row-reverse;
    }
    &_text{
      font-size: 1.7vw;
      line-height: 7px;
      letter-spacing: .1px;
    }
    &_icon{
      width: 15px;
    }
  }
}