$background: #f2f3f7;
$white: #fff;
$black-main: #121111;
$black: #000;
$red: #FF2424;
$grey: #A8A8A8;

$orange-text: #F24822;
$green-text: #14ae5c;

$orange: #FF6404;
$light-green: #19C96B;
$turquoise: #36B7BE;
$purple: #8000ff;
$pink: #FF09C9;





