.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  & > .link-back{
    align-self: self-end;
  }
  margin: 38px auto;
  width: 1088px;
  padding: 0 44px;
  background-color: $background;
}
@media (max-width: 1088px){
  .main{
    width: 100%;
  }
}
@media (max-width: 1030px){
  .main{
    & > .link-back{
      align-self: self-start;
    }
  }
}
@media (max-width: 482px){
  .main{
    padding: 0 25px;
    margin-top: 17px;
    
  }
}