.projects{
  width: 100%;
  margin-bottom: 66px;
  &__container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__title{
    margin-bottom: 30px;
  }
}
.projectCard{
  width: 482px;
  height: 234px;
  background-color: $white;
  border-radius: 24px;
  padding: 27px 36px;
  display: flex;
  flex-direction: column;
  &__titles{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 264px;
    height: 122px;
    &_status{
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 12px;
      line-height: 100%;
    }
    &_role{
      font-family: "Noto Sans";
      font-weight: 500;
      font-size: 18px;
      line-height: 111%;
      color: $grey;
    }
    .activeProjectText{
      color: $green-text;
    }
    .finishedProjectText{
      color: $orange-text;
    }
    &_name{
      margin-top: 4px;
      margin-bottom: 10px;
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 24px;
      line-height: 117%;
      color: #000;
    }
  }
  &__info{
    display: flex;
    align-items:center;
    margin-bottom: 30px;
  }
}
@media (max-width: 1030px){
  .projects{
    &__container{
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 594px){
  .projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    & > .title{
      align-self: start;
      margin-bottom: 14px;
    }
    &__container{
      margin: 0 25px;
      flex-direction: column;
      align-items: center;
      gap: 14px;
    }
  }
  .projectCard{
    width: 216px;
    height: auto;
    border-radius: 11px;
    padding: 12px 16px;
    &__icon{
      width: 52px;
      height: 52px;
    }
    &__titles{
      margin-left: 13px;
      width: 100%;
      height: auto;
      &_status{
        font-size: 5px;
      }
      &_role{
        font-size: 8px;
      }
      &_name{
        margin: 2px 0 4.5px 0 ;
        font-size: 11px;
      }
    }
    &__info{
      display: flex;
      align-items:center;
      margin-bottom: 14px;
    }
  }
}